<mat-card appearance="outlined" class="conditions-card">
    @if (conditions && currentLocation ) {
    <mat-card-header>
        <mat-card-title>{{currentLocation.LocalizedName}}</mat-card-title>
        <mat-card-subtitle>
            <span>{{ conditions.WeatherText }}</span> 
            {{' '}}
            <span>{{ conditions.Temperature.Metric.Value }}</span>
            <span>{{ conditions.Temperature.Metric.Unit }}</span>
        </mat-card-subtitle>
        <!-- Add any other header content (e.g., subtitle, avatar) -->
        <img mat-card-md-image class="weather-icon" src="{{ conditions.WeatherIcon | iconUrl }}"
            alt="{{conditions.WeatherText}}">
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    }
    @else {
    loading...
    }

</mat-card>